<form autocomplete="off" onsubmit="event.preventDefault();">
    
    <label>{{localize "fantasycraft.templates"}}</label>

    <div class="flexrow">
        <div class="flexcol">
            <label>{{localize "fantasycraft.rogues"}}</label>
            {{! list of checkboxs for rogue templates}}
            <button class="drake" type="drake"><i class="far fa-save"></i> {{ localize "fantasycraft.drake"}}</button>
            <button class="dwarf" type="dwarf"><i class="far fa-save"></i> {{ localize "fantasycraft.dwarf"}}</button>
            <button class="elf" type="elf"><i class="far fa-save"></i> {{ localize "fantasycraft.elf"}}</button>
            <button class="giant" type="giant"><i class="far fa-save"></i> {{ localize "fantasycraft.giant"}}</button>
            <button class="goblin" type="goblin"><i class="far fa-save"></i> {{ localize "fantasycraft.goblin"}}</button>
            <button class="ogre" type="ogre"><i class="far fa-save"></i> {{ localize "fantasycraft.ogre"}}</button>
            <button class="orc" type="orc"><i class="far fa-save"></i> {{ localize "fantasycraft.orc"}}</button>
            <button class="pech" type="pech"><i class="far fa-save"></i> {{ localize "fantasycraft.pech"}}</button>
            <button class="rootwalker" type="rootwalker"><i class="far fa-save"></i> {{ localize "fantasycraft.rootwalker"}}</button>
            <button class="saurian" type="saurian"><i class="far fa-save"></i> {{ localize "fantasycraft.saurian"}}</button>
            <button class="unborn" type="unborn"><i class="far fa-save"></i> {{ localize "fantasycraft.unborn"}}</button>
        </div>
        <div class="flexcol">
            <label>{{localize "fantasycraft.monster"}}</label>
            {{! list of checkboxs for monster templates}}
            <button class="alpha"> <i class="far fa-save"></i> {{localize "fantasycraft.alpha"}} </button>
            <button class="ancient"> <i class="far fa-save"></i> {{localize "fantasycraft.ancient"}} </button>
            <button class="clockwork"> <i class="far fa-save"></i> {{localize "fantasycraft.clockwork"}} </button>
            <button class="dire"> <i class="far fa-save"></i> {{localize "fantasycraft.dire"}} </button>
            <button class="ghostly"> <i class="far fa-save"></i> {{localize "fantasycraft.ghostly"}} </button>
            <button class="heavenly"> <i class="far fa-save"></i> {{localize "fantasycraft.heavenly"}} </button>
            <button class="infernal"> <i class="far fa-save"></i> {{localize "fantasycraft.infernal"}} </button>
            <button class="immature"> <i class="far fa-save"></i> {{localize "fantasycraft.immature"}} </button>
            <button class="kaiju"> <i class="far fa-save"></i> {{localize "fantasycraft.kaiju"}} </button>
            <button class="lich"> <i class="far fa-save"></i> {{localize "fantasycraft.lich"}} </button>
            <button class="predatory"> <i class="far fa-save"></i> {{localize "fantasycraft.predatory"}} </button>
            <button class="risen"> <i class="far fa-save"></i> {{localize "fantasycraft.risen"}} </button>
            <button class="skeletal"> <i class="far fa-save"></i> {{localize "fantasycraft.skeletal"}} </button>
            <button class="vampiric"> <i class="far fa-save"></i> {{localize "fantasycraft.vampiric"}} </button>
        </div>
    </div>
    {{!Save button}}
    <button class="submit" type="submit"><i class="far fa-save"></i> {{ localize "fantasycraft.traitSave"}}</button>
</form>