<div class="chat-card skill" data-owner-id="{{actor._id}}" data-trick1="{{data.trick._id}}" data-target-id="{{data.target}}">

    <header class="card-header">
      <div class="attackbox">
        {{#if data.dc}}
        <div class="flexrow" style="align-content: center; justify-content: space-between;">
        {{else}}
        <div class="boxline">
        {{/if}}
            <div class="headertext">
                <b>{{localize "fantasycraft.action"}}: {{rollDescription}}</b>
            </div>
            {{#if data.dc}}
                <div style="text-align: end"><b>{{localize "fantasycraft.dc"}}: </b>{{data.dc}}</div>
            {{/if}}
        </div>
        
    </header>

    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">
                {{data.formula}}
            </div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{data.formula}}</span>
                            {{#if this.flavor}}<span class="part-flavor">{{data.flavor}}</span>{{/if}}
                            <div class="part-total">{{data.diceRoll}}</div>
                        </header>
                        <ol class="dice-rolls">
                        {{#each data.rolls}}
                            <li class="roll {{data.classes}}">{{{data.result}}}</li>
                        {{/each}}
                        </ol>
                    </div>
                </section>
            </div>

            <div class="dice-total {{#if data.success}}threat{{/if}} {{#if data.threat}}threat{{/if}} {{#if data.error}}error{{/if}}">
                {{data.roll}}
            </div>
            
            {{#if data.trick}}
            <div class="card-content">
                <div><b>{{localize "fantasycraft.trick"}}: </b>{{data.trick.name}}</div>
            </div>
            {{/if}}

             {{#if data.hasDamage}}       
            <div class="card-buttons" data-attack-roll="{{data.roll}}" data-attack-roll="{{data.threat}}" data-damage-formula="{{data.damageFormula}}" data-damage-type="{{data.damageType}}">
                <button class="damage">{{localize "fantasycraft.damage"}} </button>
            </div>
            {{/if}}
        </div>
    </div>
</div>